<p>This is the editor for the e-mails that applicants will receive after they have sent their application.</p>

<details>
  <summary>How to use the editor</summary>
  <p>The editor uses the mustache gem. This allows you to add variables like so:</p>
  <p>Variables must be put in double curly brackets, e.g. Hello <code>{{ name }}</code>!</p>
  <p>Here you can use the following variables:<br>
  <code>{{ applicant_name }}</code> - This is the applicant's name.<br>
  <code>{{ event_date }}</code> - This is the workshop date.<br>
  <code>{{ selection_email_deadline }}</code> - Date when applicants will receive selection/rejection mails.</p>
</details>
