<p>This is the editor for the e-mails that applicants will receive to remind them to confirm their attendance.</p>

<details>
  <summary>How to use the editor</summary>
  <p>The editor uses the mustache gem. This allows you to add variables like so:</p>
  <p>Variables must be put in double curly brackets, e.g. Hello <code>{{ name }}</code>!</p>
  <p>Here you can use the following variables:<br>
  <code>{{ applicant_name }}</code> - This is the applicant's name.<br>
  <code>{{ event_place }}</code> - This is the workshop place.</p>
  <code>{{{ confirmation_link }}}</code> - This is the link applicants have to click to confirm attendance. It will render as "Confirm".</p>
  <code>{{{ cancel_link }}}</code> - This is the link applicants have to click to cancel their application. It will render as "Cancel".</p>
</details>
