<p>Hi <%= @application.name %>! Sorry, you missed the confirmation date. We expected your confirmation by <%= l (@event.confirmation_date + @event.confirmation_deadline) %>.
We had far more applicants hoping to get a spot, so we gave your spot to someone from the waiting list.
We're really sorry to have to decline you, but this is the only way we can ensure the highest attendee show-up rate.
We are sincerely sorry for this and really hope to get to meet you at the next workshop.</p>

<p> If you are still interested in learning to program, please check <a href="https://rorganize.it"</a> which is listing study groups, where you can also start learning.</p>
