<header>
    <h1>Application - Railsgirls Beginners Workshop</h1>
</header>
<div class="create">

    <!--p>Find me in app/views/applications/create.html.erb</p-->

    <p>Your application was sucessfull! - You`ll hear from us soon.<p></div>
