<h1>Rails Girls Berlin Beginners Workshop [date]</h1>
<p>Thank you for filling out the form!</p>
<p>Your application has been received. You will NOT receive a confirmation e-mail that we received your application.</p>
<p>For queries regarding the application, please contact: <a href="mailto:contact@railsgirlsberlin.de">contact@railsgirlsberlin.de</a>.</p>
<p class="logo"><a href="http://railsgirlsberlin.de"><%= image_tag("logo.jpg", width: 300, height: 300) %></a></p>
