<h1><%= @event.name %> <%= @event.scheduled_at.strftime("%d.%m.%Y") %> </h1>
<p>Thank you for filling out the form!</p>
<p>Your application has been received. You will receive a confirmation e-mail that we received your application.</p>
<p>For queries regarding the application, please contact: <a href="mailto:contact@railsgirlsberlin.de">contact@railsgirlsberlin.de</a>.</p>
<p class="logo"><a href="http://railsgirlsberlin.de"><%= image_tag("logo.png", width: 300, height: 300) %></a></p>
