<header>

    <div class="section-boxed section-header">
        <div="logo-container">
            <a id="mitschrift" href="http://railsgirlsberlin.de/beginners-workshop/" target="_blank"></a>
            <div id="social-profiles">
                <ul class="social-icons">
                    <li>

                        <a id="facebook" href="https://www.facebook.com/RailsGirlsBerlin" target="_blank">
                            <div >
                                &nbsp;</div>
                        </a>

                    </li>
                    <li>
                        <a id="twitter" href="https://twitter.com/railsgirls_bln?lang=de" target="_blank">
                            <div>
                                &nbsp;</div>
                        </a>
                    </li>
                    <li>
                        <a id="flickr" href="https://www.flickr.com/groups/railsgirlsberlin/" target="_blank">
                            <div >
                                &nbsp;</div>
                        </a>

                    </li>
                    <li>
                        <a id="linkedin" href="https://www.linkedin.com/groups/6820787" target="_blank">
                            <div >
                                &nbsp;</div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </header>

    <h1>Rails Girls Berlin Beginners Workshop [date]</h1>
    <p>Thank you for filling out the form!</p>
    <p>Your application has been received. You will NOT receive a confirmation e-mail that we received your application.</p>
    <p>For queries regarding the application, please contact:
        <a href="mailto:contact@railsgirlsberlin.de">contact@railsgirlsberlin.de</a>.</p>
    <p class="logo">
        <a href="http://railsgirlsberlin.de"><%= image_tag("logo.jpg", width: 300, height: 300) %></a>
    </p>
