
<p>Thank you for visiting Rails Girls Berlin. The application period for this workshop has already ended. But please stay tuned! <a href="http://railsgirlsberlin.de/start/">More workshops are coming.</a></p>

<p> If you are still interested in learning to program Ruby on Rails please check <a href="https://rorganize.it"</a> which is listing study groups, where you can also start learning.</p>
