
<p>Thank you for visiting Rails Girls Berlin. The application period for this workshop has already ended. But please stay tuned! <a href="http://railsgirlsberlin.de/start/">More workshops are coming.</a></p>
