<% if current_user and !current_user.coach %>
  <p>Hey admin! You don't have a coach profile. [create a coach profile link for admins]</p>
<% end %>
<p>Hey coach!</p>
<p>Here is a list of our workshops:</p>
<ul>
  <% @events.each do |event, coach| %> 
  <li>
    <%= link_to event.name , new_event_coach_application_path(event) %> 
    <%= event.scheduled_at.strftime("%d.%m.%Y") %>
  </li>
  <%end %>
</ul>