<p>Hey coach!</p>
<p>Here is a list of our workshops:</p>
<ul>
  <% @events.each do |event, coach| %> 
  <li>
    <%= link_to event.name , new_event_coach_application_path(event) %> 
    <%= event.scheduled_at.strftime("%d.%m.%Y") %>
  </li>
  <%end %>
</ul>