<h1 class="text-center text-3xl my-8">Here is a list of our workshops:</h1>

<ul class="flex justify-center flex-wrap -mx-2">
  <% @events.each do |event| %>
  <li class="px-2 py-2">
    <a href="<%= new_event_application_path(event) %>">
      <article class="max-w-sm rounded border border-gray-300 shadow-md hover:shadow-xl">
        <div class="px-6 py-8">
          <h2 class="font-bold text-xl mb-8"><%= event.name %></h2>
          <section class="text-gray-700 text-base">
            <p> <strong>When? </strong><%= l event.scheduled_at %></p>
          </section>
        </div>
        <div class="px-6 py-4">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-1">#code</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-1">#curious</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-1"> #<%= event.place %> </span>
        </div>
      </article>
    </a>
  </li>
  <%end %>
</ul>