<h1>Your coach account</h1>
<%= link_to("View Public Profile", coach_path(@coach)) %>
<%= form_for(@coach, html: {class: "grey"}, method: :put) do |f| %>
  <%= render 'shared/coachform', :f => f %>
  <div class='button'>
    <%= f.submit "Submit", class: 'commit', type: 'submit' %>
  </div>
<% end %>
