<h1>Your coach account</h1>
<%= form_for(@coach, html: {class: "grey"}, method: :put) do |f| %>
  <%= render 'form', :f => f %>
  <div class='button'>
    <%= f.submit "Submit", class: 'commit', type: 'submit' %>
  </div>
<% end %>
