<h1>Coach <%= @coach.name %></h1>
<table>
  <tr>
    <td>Female</td>
    <td><%= @coach.female %></td>
  </tr>
  <tr>
    <td>gives talks in German</td>
    <td><%= @coach.language_de %></td>
  </tr>
  <tr>
    <td>gives talks in English</td>
    <td><%= @coach.language_en %></td>
  </tr>
</table>