<p>Thank you for registering. You will get detailed information in the week before the workshop. :)</p>
<p>If you have any questions, don't hesitate to write us at coaching@railsgirlsberlin.de.</p>

<p>Code Curious Team</p>
