<p>You can no longer register to coach at the code curious event, as the registration deadline has passed.</p>

<p>Try contacting the code curious organisers, if you think that this is a mistake at contact@codecurious.org</p>
