/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require trix
*/

/* * {
background-color: red;   }*/

header {
  position: fixed;
  top: 0;
  height: 80px;
  transition: all 0.3s ease;
  width: 100%;
  background: #ffffff;
  border-style: solid;
  border-width: 0 0 5px 0;
  border-image:
    linear-gradient(to right, #28B4F0, #F0A0C8) 100% 1;
  z-index: 10;
}

.header {
  width: 60%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.header-logo {
  padding: 0 3%;
  vertical-align: baseline;
  color: #777777;
  flex: 0 0 60%;
}

.header-links {
  flex: 1;
}

.header-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-links > ul > li {
  float: left;
  padding: 10px;
}

.fixed-header-scroll #header {
  padding: 7px 0;
}

.fixed-header #header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 500;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#mitschrift {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 5px;
  top: 35px;
}

.header_logo {
  margin: 10px 0;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1 {
  color:#1E64B4;
  font-size: 30px;
}

h2 {
  font-size: 16px;
  font-style: italic;
}

h3 {
  color:#1E64B4;
  font-size: 18px;
}

h3 span {
  color:#000000;
}

body {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  font-size: 16px;
  line-height: 25px;
  padding-top: 100px;
  margin: 0;
}

#greeting {
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid #777777;
}

fieldset {
  border: none;
  margin-top: 20px;
}

fieldset.form-border {
  border: 1px solid #ddd;
  border-radius: 25px;
}

legend.form-title {
  text-align: center;
  color: #1e64b4;
  font-size: 18px;
}

input[type=text] {
  width: 50%;
}

input[type=submit] {
  padding: 14px 25px;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: #1E64B4;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

input[type=submit]:hover {
  background-color: #28B4F0;
  cursor: pointer;
}

input[type=number] {
  width: 75px;
}

textarea {
  width: 50%;
  height: 100px;
}

#error_explanation h2 {
  color: #1E64B4;
}

.button {
  text-align: center;
}

input[type=submit].button_link {
  color: blue;
  background-color: inherit;
  display: inline;
  padding: 0;
}

.note {
  font-size: 11px;
  font-style: italic;
  margin-top: -10px;
}

.field_with_errors {
  display: inline;
  color: #E65A5A;
}

.error_message {
  font-style: italic;
  color: #E65A5A;
}

.flash.notice {
  background-color: #A0C634;
  color: white;
}

.flash.error {
  background-color: #E65A5A;
  color: white;
}

.flash {
  padding: 10px;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 100px;
}

#info-for-coaches {
  background-color: #e7f6fd;
  text-align: center;
  border: thin solid #1e64b4;
  color: #1e64b4;
}

/*Table*/

table {
  border-collapse: collapse;
  width: 100%;
}

.table-header-link {
  color: white;
  text-decoration: none;
}

th {
  background-color: #1E64B4;
  color: white;
}

th a:link {
  text-decoration: none;
  color: white;
}

th a:visited {
  text-decoration: none;
  color: white;
}

th a:hover {
  text-decoration: none;
  color: #e9e9e9;
}

td {
  height: 50px;
  vertical-align: middle;
}

/* td.actions a {
color: grey;
} */

td.actions a:link, td.actions a:visited {
  background-color: #1E64B4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

a:link, a:visited {
  color: #1E64B4;
  text-decoration: none;
}

a:hover {
  color: #28B4F0
}

td.actions form {
  display: inline;
}

/* mouse over link */
td.actions a:hover {
  background-color: #28B4F0;
  text-decoration: none;
}

/* selected link */
td.actions a:active {
  color: green;
  text-decoration: none;
}

td.center {
  text-align: center;
}

th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #e7f6fd}

tr:hover {background-color: #e9e9e9}

input[type=radio] {
  border: 0px;
  width: 15px;
  height: 2em
}

td.rejected {background-color: #FF4D4D}
td.waiting_list {background-color: #FF9E9E}
td.application_selected, td.approved {background-color: #59A12F}
td.cancelled {background-color: #999}

/* Shorten text in comment field */

.shorten-long-text {
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
}

.shorten-long-text:hover {
  overflow: visible;
  white-space: normal;
  display: block;
  width: 400px;
  height: auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Footer navigation in admin view */

footer {
  border-top: 1px solid #1E64B4;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

footer li {
  float: left;
}

footer li a, footer li a:visited {
  display: block;
  color: #1E64B4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer li a:hover {
  background-color: #e9e9e9;
}

/* Top navigation in admin view */

nav.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

nav.top-menu li {
  float: left;
}

nav.top-menu li a {
  display: block;
  color: #1E64B4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.top-menu li a.active {
  background-color: #1E64B4;
  color: white;
}

nav.top-menu li a:hover {
  background-color: #e9e9e9;
  color: #1E64B4;
}

/* E-mail templates side menu */

nav.email-templates-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

nav.email-templates-menu li {
  float: left;
}

nav.email-templates-menu li a {
  display: block;
  color: #1E64B4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.email-templates-menu li a.active {
  background-color: #1E64B4;
  color: white;
}

/* Change the link color on hover */
nav.email-templates-menu li a:hover {
  background-color: #28B4F0;
  color: white;
}

input.grey {
  background-color: #c4220d;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 250px 250px;
  margin-bottom: .5em;
}

.info-wrapper {
  display: flex;
  /* justify-content: space-evenly; */
  margin-bottom: 1em;
  font-weight: bold;
  color: #fff;
}

.info-wrapper .info {
  border-right: 1px solid #ffff;
  padding: 15px;
  text-align: left;
  width: 30em;
}

.cc-gradient {
  background: linear-gradient(to right, #28B4F0, #F0A0C8);
}

.language-tag {
  padding: 0 .7em;
  font-size: 12px;
  width: fit-content;
  color: #fff;
  border-radius: 5px;
}

/* Printer styles */

@media print {
  header,
  input,
  footer,
  .top-menu {
    display: none;
  }

  body {
    color: #000;
    background-color: #fff;
  }

  .container {
    width: 100%;
  }

  table {
    break-inside: avoid;
  }

  h2 {
    page-break-inside: avoid;
    margin-top: 30px;
  }

  /* Hacky solution to make avoidance of page break work ^^
  https://stackoverflow.com/a/53742871/9328428
  */
  h2::after {
    content: "";
    display: block;
    height: 200px;
    margin-bottom: -200px;
  }
}